@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100&family=Pacifico&display=swap');
*{
    margin: 0
}
body{
    background-image: url(veselo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    font-family: 'Pacifico', cursive;
    padding: 15px 5%;
    background-color: #fdebe1;
    position: fixed;
    width: 100%
}
header>*{
    display: inline-block;
    width: 450px;
}
.pustota{
    width: 5%;
}
a{
    text-decoration:none;
    color: black;
    margin: 0 10px;
}
.banner{
    padding: 20% 5%;
    color: white;
    font-size: 30px;
    background-color: rgb(0, 0, 0, 0.5);
}
.post{
    padding: 10px 5%;
    text-align:center;
    font-family: 'Onest', sans-serif;
    background-color: #fdebe1;
}
.post>*{
    display: inline-block;
    width: 450px;
    font-size: 30px;
    vertical-align:middle;
}
.post:active {
    transform: matrix(2, 2, 2, 2, 2, 2);
}
.gap{
    height: 500px;
    background-color: rgb(0, 0, 0, 0.5);
}
#connection{
    background-image: url(hhru.jpg);
    background-attachment: fixed;
    padding: 15% 30%;

}
#connection>div{
    padding: 10px;
    background-color: #fdebe1;
    text-align:center;
    font-size: 30px;
    border: soild 4px black;
}
footer{
    background-color: blake;
    padding: 10px 0;
    text-align:center;
    color: white;
}
.add{
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    height: 100px;
    width: 100px;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.add:hover{
    opacity: 0;
}

#ani{
    width: 500px;
    height: 500px;
    margin: 25px;
    background-color: aqua;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: anim1;
    animation-duration: 2s;
    animation-iteration-count: 3;
    animation-delay: 1;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation: anim1 5s infinite forwards;
}
#ani: hower{
    animation-play-state: paused;
    width: 600px;
    height: 600px;
    margin: 25px;
    background-color: red;
    font-size: 50px;
}

@keyframes anim1{
    0%{
        transform: rotateY(0) translate(0);
        border-radius: 250px;
    }
    15%{
        transform:translate(220px);
        background-color: purple;
        border: 4px solid red;
        
    }
    30%{
        transform:translate(350px);
        font-family: unset;
        
        color: yellow;
        background-color: yellow;
        transform: matrix(6, 3, 4, 4, 3, 6);
        transform: rotate(90deg);
    }
    50%{
        transform: translate(11000px);
        border-radius: 100px;
        color: blue;
        background-color: blue;
        transform: matrix(3, 4, 6, 6, 4, 3);
        transform: rotate(180deg);
    }
    70%{
        transform:translate(15000px);
        border-radius: 100px;
        font-size: 150px;
        font-family: unset;
        color: green;
        background-color: green;
        transform: matrix(4, 6, 3, 3, 6, 4);
        transform: rotate(270deg);
    }
    100%{
        transform: translate(0);
        border-radius: 250px;
        border: 5px solid black;
        text-align: center;
        color: black;
        font-size: 100px;
        background-color: red;
        font-family: 'Hurricane', cursive;
    }
}
